.mega-menu {
    position: static;
    width: 100%;
}
.mega-menu a{
    color:#111;
}
.mega-menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: static;
}
.mega-menu > ul > li {
    float: left;
    padding: 0;
    margin: 0;
}
.mega-menu > ul > li a {
    text-decoration: none;
    padding: 0.75rem;
    display: flex;
}
.mega-menu > ul > li:hover {
    background: #f7f7f7;
}
.mega-menu > ul > li > ul {
    display: none;
    /* width: 100%; */
    width: 1280px;
    background: #fff;
    padding: 20px;
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    list-style: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.mega-menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    min-height: 400px;
    background: none;
    float: left;
}
.mega-menu-image{
    width: 100%;
    aspect-ratio: 6 / 4;
    object-fit: cover;
    border:solid 1px silver;
}
.mega-menu > ul > li > ul > li a {
    color: #111;
    padding: .2em 0;
    width: 95%;
    display: flex;
    border-bottom: 1px solid #333;
}
.mega-menu > ul > li > ul > li > ul {
    display: flex;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
}
.mega-menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    margin: 0;
    font-size: 0.9rem;
}
.mega-menu > ul > li > ul > li > ul > li a {
    border: 0;
}

/* normal dropdown */
.mega-menu > ul > li > ul.normal-sub {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    left: auto;
    right: auto;
    transform: translateX(0);
    padding: 10px 20px;
}
.mega-menu > ul > li > ul.normal-sub > li {
    width: 100%;
    min-height: auto;
}
.mega-menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: .5rem 0;
}

@media only screen and (max-width: 1440px) {
   .mega-menu > ul > li a {
    padding: 0.5rem;
    font-size: .85rem;
    }
    .mega-menu > ul > li > ul {
    min-width: 1024px;
    padding: 16px;
    
    }
}
@media only screen and (max-width: 1280px) {
    .mega-menu > ul > li > ul > li {
        width: 25%;
    }  
}