.grid-padding-y .grid-padding-y{
  margin-top: 0;
  margin-bottom: 0;
}

.button-group{
  gap:4px;
}

.p-20 {
  padding: 20px;
}

.p-40 {
  padding: 40px;
}

.p-60 {
  padding: 60px;
}

.element {
  padding-bottom: 20px;
}

 .card{
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.card-title, .accordion-title, .tabs-title a{
  font-size: 1.125rem;
  font-weight: 500;
}
.promo-dates{
  font-size: 0.85rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.section-title{
  font-size: 1.5rem;
  font-weight: 500;
}

.title-bar{
  border-bottom: solid thin;
  margin-bottom: 1.5rem;
}

address{
  margin-bottom: 1.5rem;
}

.responsive-embed.panormama{
  padding-bottom: 33.33%;
}

.media-cover{
  position: relative;
  color:white;
}

.media-cover .card-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.media-cover .card-section{
  padding: 40px;
  position: relative;
  z-index: 12000;
}
